[Unit]
Description = Atlantis
After = network.target

[Service]
Type = simple
ExecStart = /usr/local/bin/atlantis server --config /opt/atlantis/atlantis.yml --hide-prev-plan-comments --allow-draft-prs --default-tf-version="v0.15.4"
ExecStop = /bin/kill $MAINPID
TimeoutStopSec = 5
SuccessExitStatus = 143
User = atlantis
Group = atlantis
Restart = always

[Install]
WantedBy = multi-user.target
