---
atlantis-url: https://atlantis.jmvbxx.com
automerge: true
checkout-strategy: merge
gh-user: jmvbxx
gh-token: {{ lookup('aws_ssm', '/atlantis/gh-token' ) }}
gh-webhook-secret: {{ lookup('aws_ssm', '/atlantis/gh-webhook-secret' ) }}
log-level: info
port: 4141
repo-whitelist: github.com/jmvbxx/atlantis-ansible
repo-config: /opt/atlantis/repos.yml